/* miscellaneous */

input {
    border: 0px;
}

body {
   box-sizing: border-box;
   background-color: #1A120B;
   margin: 0;
}

#container {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5em;
    
}

#upper-container {
    background-color:#D5CEA3;
    width: 500px;
    min-height: 250px;
    border-bottom: none;
    /* border-bottom:1px solid black; */
}

#lower {
    
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #D5CEA3;
    border-top: none;
    border-bottom: 1px solid black;
}


/* title section */

#title-box {
    margin-top: 10px;
    transition: all ease-in-out 0.2s;
    margin-bottom: 10px;
    background-color:#3C2A21;
    height: 40px;
    display: flex;
    justify-content:center;
    align-items: flex-end;
}

#title-box:hover {
    background-color: #b83b5e;
}

#title-text {
    align-items: center;
    transition: all ease-in-out 0.2s;
    font-size: 2rem !important;
    font-family: Impact;
    color: #D5CEA3;
    position: relative;
    top: 19px;
}

#star {
    position: relative;
    left: 5px;
    top: 15px;
}


/* Buttons */

.add-btn {
    background-color:#3C2A21; /* Green */
    border: 2px solid #FFE5F1;
    color: #E5E5CB;
    width: 100%;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:0;
    transition-duration: 0.4s;
    cursor: pointer;
}

#button-text {
    position: relative;
    top: -3px;
    left: -3px;
    font-family: sans-serif;
    font-weight: bold;
}

.add-btn:hover {
    background-color: #E5E5CB;
    color: #3C2A21;
}

#del-btn {
    
    background-color: #3C2A21;
    border: 2px solid #FFE5F1;
    color: #E5E5CB;
    width: 100%;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:0;
    margin-top: 0;
    transition-duration: 0.4s;
    cursor: pointer;
}

#del-btn:hover {
    background-color: #E5E5CB;
    color: #3C2A21;
}


/* font awesome classes */

.fa-plus {
    font-size: 1.25rem;
}

.fa-trash-o {
    font-size: 1.25rem;
    position: relative;
    top: 11px;
    left: 11px;
}


/* containers */

#task-container {
    width: 100%;
    height: 10%;
    /* margin-bottom: 3%; */
    background-color: #D5CEA3;
    border-bottom: 0.5px solid #333;
}

#outer{
    /* border: 1px solid #333; */
    padding: 0;
    background-color: #fff;
    margin-bottom: 0;
   
}
.add-form{
    margin-bottom: 0;
}

#outer-form{
    display: flex;
    border-bottom: 0.5px solid #333;
    background-color: #D5CEA3;
}
#category-select-container {
    float: left;
    width: 50%;
    height: 80%;
    margin:2%;
    padding: 10px;
    border-right: 1px solid black;
}

#date-container {
    float: inline-end;
    width: 50%;
    height: 80%;
    margin: 2%;
    padding: 10px;
}

#checkbox-container {
    position: relative;
}

#btn-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.del-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* form and inputs */

#form-input {
    border: 0px;
}

textarea {
    transition: all ease-in-out 0.2s;
    border: 0px;
    width: 100%;
    height: 70%;
    background-color: #D5CEA3;
    resize: none;
    padding-left: 10px;
}
textarea:focus{
    outline: none;
}

textarea:hover {
    border: none;

}

.container-heading {
    transition: all ease-in-out 0.2s;
    font-family: sans-serif;
    color: #1A1201;
    font-weight: bolder;
    text-align: center;
}

.container-heading:hover {
    color: #b83b5e;
}

#drop-down {
    transition: all ease-in-out 0.2s;
    border: 0px;
    background-color: #D5CEA3;
    width: 100%;
}

#drop-down:hover {
    background-color: #f1ebbb;
    box-shadow: 0px 0px 3px 1px #f08a5d;
}

#date-input {
    transition: all ease-in-out 0.2s;
    width: 80%;
    background-color: #D5CEA3;
    /* height: 100%; */
}

#date-input:hover {
    box-shadow: 0px 0px 3px 1px #f08a5d;
    background-color: #f1ebbb;
}


/* list */



#list {
   overflow-y:auto;
   overflow-x: hidden;
   height:40vh;
}

li {
    border-radius: 3px;
    position: relative;
    left: -30px;
    margin: 5px;
    width: 100%;
    background-color: #D5CEA3;
    height: 30%;
    border-bottom: 1px solid goldenrod;
    font-family: sans-serif;
    list-style: none;
    display: inline-block;
}

.list-category {
    position: relative;
    left: -10px;
    transition: all ease-in-out 0.5s;
    float: right;
    width: 90px;
    height: 30px;
    margin: 5px;
    padding: 2px;
    border-radius: 2px;
    text-align: center;
    background-color:#3C2A21;
    
}

.list-category:hover {
   background-color: #1A120B;
   
}

#category-box-text {
    font-weight:normal;
    color:#E5E5CB;
    margin: 0;
    padding: 2px;
    margin-top: 4px;
    font-size: medium;
}

#list-date {
    position: relative;
    top: 5px;
    padding: 2px;
    margin-left: 15px;
    margin-bottom :5px;
    font-family: 'Syne Mono', monospace;
    display: inline-block;
    font-size: small;
    color:#3C2A21;
}

#list-task {
    display: inline-block;
    font-weight: bolder !important;
    color:#1A120B;
    font-size: large;
    margin-left: 15px;
    font-family: 'Exo 2', sans-serif;

}

#checkbox {
    display: inline-block;
}
/* strike-through on selecting task */
input[type="checkbox"]:checked + label>span{
    text-decoration: line-through;
}
